# walmart_ca-ecommerce_product_details
#DATA Cleaning before Analysis
#Data is Obtained from Kaggle, Its a Free Data Source

In [142]:
#walmart_ca-ecommerce_product_details
import pandas as pd
import numpy as np

In [143]:
#import the dataset
product_details=pd.read_csv('walmart_ca-ecommerce_product_details.csv')
product_details.head(2)

,Uniq Id,Crawl Timestamp,Product Url,Product Name,Description,List Price,Sale Price,Brand,Item Number,Gtin,Package Size,Category,Postal Code,Available
0,04c3888a6e63736a9ef30170f28445af,2019-01-11 11:09:31 +0000,https://www.walmart.ca/fr/ip/KHAN-Sunglasses-S...,KHAN Sunglasses Shield 1028 - Black-Silver (12...,Lunettes de soleil lunettes KHAN lunettes de ...,82.99,82.99,Khan,0V1E18PM41HJ,60298997362,NaN,"Vêtements, chaussures et accessoires|Vêtements...",NaN,True
1,b45fd83adabf0a941f39590f4827ff53,2019-01-11 11:15:33 +0000,https://www.walmart.ca/fr/ip/Ray-Ban-Women-s-M...,Ray-Ban Women's Mirrored Gatsby Iii RB4257-626...,. | Couleur Brown Famille de couleur Brown Ma...,75.98,75.98,Ray-Ban,28P7RSJRG388,805367268430,NaN,"Vêtements, chaussures et accessoires|Vêtements...",NaN,True

In [144]:
#get missing columns data
product_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
Uniq Id            30 non-null object
Crawl Timestamp    30 non-null object
Product Url        30 non-null object
Product Name       30 non-null object
Description        30 non-null object
List Price         30 non-null float64
Sale Price         30 non-null float64
Brand              29 non-null object
Item Number        30 non-null object
Gtin               30 non-null int64
Package Size       0 non-null float64
Category           30 non-null object
Postal Code        0 non-null float64
Available          30 non-null bool
dtypes: bool(1), float64(4), int64(1), object(8)
memory usage: 3.2+ KB

In [145]:
#Columns to drop
# 1. Package Size,Postal Code : these are null value columns so these should be dropped
# 2. Uniq Id,Product Url,Gtin : These are unneccessary columns in our data set thus these should be dropped too

# index location for the columns to be dropped
#Package Size[10],Postal Code[12],Uniq Id[0],Product Url[2],Gtin[9]

#Drop multiple columns by names
product_details.drop(['Package Size','Postal Code','Uniq Id','Product Url','Gtin'], axis=1, inplace=True)

In [146]:
#check if Columns are deleted
product_details.head(2)

,Crawl Timestamp,Product Name,Description,List Price,Sale Price,Brand,Item Number,Category,Available
0,2019-01-11 11:09:31 +0000,KHAN Sunglasses Shield 1028 - Black-Silver (12...,Lunettes de soleil lunettes KHAN lunettes de ...,82.99,82.99,Khan,0V1E18PM41HJ,"Vêtements, chaussures et accessoires|Vêtements...",True
1,2019-01-11 11:15:33 +0000,Ray-Ban Women's Mirrored Gatsby Iii RB4257-626...,. | Couleur Brown Famille de couleur Brown Ma...,75.98,75.98,Ray-Ban,28P7RSJRG388,"Vêtements, chaussures et accessoires|Vêtements...",True

In [147]:
#Handle missing values in columns
#get missing columns data
product_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
Crawl Timestamp    30 non-null object
Product Name       30 non-null object
Description        30 non-null object
List Price         30 non-null float64
Sale Price         30 non-null float64
Brand              29 non-null object
Item Number        30 non-null object
Category           30 non-null object
Available          30 non-null bool
dtypes: bool(1), float64(2), object(6)
memory usage: 2.0+ KB

In [148]:
#Handle missing Data Columns
# from the above info , Brand is the only column with missing data
# Brand is object and its catergorical data there fore we can use mode()[]
#product_details.Brand.mode()[0]
product_details['Brand'].fillna(product_details.Brand.mode()[0],inplace=True)

In [149]:
# Check whether missing columns have been sorted
product_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
Crawl Timestamp    30 non-null object
Product Name       30 non-null object
Description        30 non-null object
List Price         30 non-null float64
Sale Price         30 non-null float64
Brand              30 non-null object
Item Number        30 non-null object
Category           30 non-null object
Available          30 non-null bool
dtypes: bool(1), float64(2), object(6)
memory usage: 2.0+ KB

# Find out whether there is misspelled Data which can result to duplicates
  Major coumns are 
         1 ----------Brand
         2 ----------Product Names

In [150]:
#Get Product Names
#product_details['Product Name'].unique()
data_frame_for_Product_name=pd.DataFrame(product_details['Product Name'].unique(),columns=['Product_Name'])
data_frame_for_Product_name

                                         Product_Name
0   KHAN Sunglasses Shield 1028 - Black-Silver (12...
1   Ray-Ban Women's Mirrored Gatsby Iii RB4257-626...
2   Bague avec trèfle de forme coeur Miabella avec...
3   Ray Ban Polarized Silver Mirror Chromance Meta...
4   Timex T2N0689J Womens Essex Avenue Two Tone St...
5   Bague à pierre de naissance en or blanc 10 ct ...
6   Bague de fiançailles Miabella en forme de cœur...
7   Casio Women's Core LTP1283D-7A Silver Stainles...
8   Pendentif en coeur avec initiale "P" en argent...
9      KHAN Sunglasses Wrap KNM3734 - Red (3 Paquets)
10         Next Level. Sand. Xl. 6410. 00846907091167
11  Pendentif style auréole Tangelo avec péridot 0...
12  Collier dansant Pure à opale synthétique en fo...
13  1 1/2ct Treated Black Diamond Channel Set Eter...

In [151]:
#count Total Number of Product Names
data_frame_for_Product_name.Product_Name.count()

14

In [153]:
#Get Brands
Dataframe_Brand=pd.DataFrame(product_details['Brand'].unique(), columns=['Brand'])
Dataframe_Brand
# from the code above, You can still Clean further in the Brand Column
#  ----Ray-Ban can be converted to Ray Ban , its a mistype

                          Brand
0                          Khan
1                       Ray-Ban
2                      Miabella
3                       Ray Ban
4                         Timex
5   10Kt Birthstone and Diamond
6                         Casio
7                    Next Level
8                       Tangelo
9             Pure EcoJewellery
10                     Pompeii3

In [154]:
#More on Brand Column
# ----Ray-Ban can be converted to Ray Ban , its a mistype
product_details['Brand'].replace(['Ray-Ban'],['Ray Ban'],inplace=True)

In [155]:
# confirm whether ---Ray-Ban has been converted to Ray Ban
Dataframe_Brand

                          Brand
0                          Khan
1                       Ray-Ban
2                      Miabella
3                       Ray Ban
4                         Timex
5   10Kt Birthstone and Diamond
6                         Casio
7                    Next Level
8                       Tangelo
9             Pure EcoJewellery
10                     Pompeii3

In [157]:
product_details

,Crawl Timestamp,Product Name,Description,List Price,Sale Price,Brand,Item Number,Category,Available
0,2019-01-11 11:09:31 +0000,KHAN Sunglasses Shield 1028 - Black-Silver (12...,Lunettes de soleil lunettes KHAN lunettes de ...,82.99,82.99,Khan,0V1E18PM41HJ,"Vêtements, chaussures et accessoires|Vêtements...",True
1,2019-01-11 11:15:33 +0000,Ray-Ban Women's Mirrored Gatsby Iii RB4257-626...,. | Couleur Brown Famille de couleur Brown Ma...,75.98,75.98,Ray Ban,28P7RSJRG388,"Vêtements, chaussures et accessoires|Vêtements...",True
2,2019-01-11 13:21:17 +0000,Bague avec trèfle de forme coeur Miabella avec...,Cette jolie bague Miabella met en valeur des ...,79.99,79.99,Miabella,6000198469759,Bijoux et montres|Dames|Bagues,True
3,2019-01-11 13:21:17 +0000,Bague avec trèfle de forme coeur Miabella avec...,Cette jolie bague Miabella met en valeur des ...,79.99,79.99,Miabella,6000198468806,Bijoux et montres|Dames|Bagues,True
4,2019-01-11 13:21:17 +0000,Bague avec trèfle de forme coeur Miabella avec...,Cette jolie bague Miabella met en valeur des ...,79.99,79.99,Miabella,6000198467757,Bijoux et montres|Dames|Bagues,True
5,2019-01-11 13:21:17 +0000,Bague avec trèfle de forme coeur Miabella avec...,Cette jolie bague Miabella met en valeur des ...,79.99,79.99,Miabella,6000198469772,Bijoux et montres|Dames|Bagues,True
6,2019-01-11 13:21:17 +0000,Bague avec trèfle de forme coeur Miabella avec...,Cette jolie bague Miabella met en valeur des ...,79.99,79.99,Miabella,6000198467457,Bijoux et montres|Dames|Bagues,True
7,2019-01-11 11:17:04 +0000,Ray Ban Polarized Silver Mirror Chromance Meta...,. | Sexe Unisex Marque Ray Ban Identificateur...,144.99,144.99,Ray Ban,1RLTIU7Z0F8S,Défaut,True
8,2019-01-11 14:29:04 +0000,Timex T2N0689J Womens Essex Avenue Two Tone St...,. | Couleur Multicolor Sexe Unisex Marque Tim...,105.76,105.76,Timex,26G84MFMO5H4,Bijoux et montres|Montres|Dames|Bracelets-montres,True
9,2019-01-11 12:58:09 +0000,Bague à pierre de naissance en or blanc 10 ct ...,Bague en or blanc 10 ct avec pierre de naissa...,139.00,139.00,10Kt Birthstone and Diamond,6000195570207,Bijoux et montres|Dames|Bagues,True
10,2019-01-11 12:58:09 +0000,Bague à pierre de naissance en or blanc 10 ct ...,Bague en or blanc 10 ct avec pierre de naissa...,139.00,139.00,10Kt Birthstone and Diamond,6000195570210,Bijoux et montres|Dames|Bagues,True
11,2019-01-11 12:58:09 +0000,Bague à pierre de naissance en or blanc 10 ct ...,Bague en or blanc 10 ct avec pierre de naissa...,0.00,0.00,10Kt Birthstone and Diamond,6000189688702,Bijoux et montres|Dames|Bagues,False
12,2019-01-11 12:58:09 +0000,Bague à pierre de naissance en or blanc 10 ct ...,Bague en or blanc 10 ct avec pierre de naissa...,139.00,139.00,10Kt Birthstone and Diamond,6000195570214,Bijoux et montres|Dames|Bagues,True
13,2019-01-11 12:58:09 +0000,Bague à pierre de naissance en or blanc 10 ct ...,Bague en or blanc 10 ct avec pierre de naissa...,139.00,139.00,10Kt Birthstone and Diamond,6000195570220,Bijoux et montres|Dames|Bagues,True
14,2019-01-11 13:38:00 +0000,Bague de fiançailles Miabella en forme de cœur...,Cette bague de fiançailles Miabella en forme ...,0.00,0.00,Miabella,6000189946587,Bijoux et montres|Dames|Bagues,False
15,2019-01-11 13:38:00 +0000,Bague de fiançailles Miabella en forme de cœur...,Cette bague de fiançailles Miabella en forme ...,99.99,99.99,Miabella,6000189946593,Bijoux et montres|Dames|Bagues,True
16,2019-01-11 13:38:00 +0000,Bague de fiançailles Miabella en forme de cœur...,Cette bague de fiançailles Miabella en forme ...,99.99,99.99,Miabella,6000189946599,Bijoux et montres|Dames|Bagues,True
17,2019-01-11 13:38:00 +0000,Bague de fiançailles Miabella en forme de cœur...,Cette bague de fiançailles Miabella en forme ...,99.99,99.99,Miabella,6000189949446,Bijoux et montres|Dames|Bagues,True
18,2019-01-11 14:27:34 +0000,Casio Women's Core LTP1283D-7A Silver Stainles...,. | Couleur Silver Famille de couleur Silver ...,46.26,46.26,Casio,2RIKFHZOJ5KB,Bijoux et montres|Montres|Dames|Bracelets-montres,True
19,2019-01-11 13:37:21 +0000,"Pendentif en coeur avec initiale ""P"" en argent...",Ce joli pendentif est un bijou tout personnal...,0.00,0.00,Miabella,10042950,Bijoux et montres|Dames|Pendentifs et colliers,True
20,2019-01-11 11:40:00 +0000,KHAN Sunglasses Wrap KNM3734 - Red (3 Paquets),Hommes lunettes KHAN ' s lunettes de soleil l...,25.99,25.99,Khan,2RODN3PES2UX,"Vêtements, chaussures et accessoires|Vêtements...",True
21,2019-01-11 14:45:25 +0000,Next Level. Sand. Xl. 6410. 00846907091167,. | Couleur Sand Sexe Male Taille XL Marque N...,7.54,7.54,Next Level,6B7CK0N4A5U1,"Vêtements, chaussures et accessoires|Vêtements...",True
22,2019-01-11 13:36:13 +0000,Pendentif style auréole Tangelo avec péridot 0...,Laissez cet exceptionnel pendentif auréole Ta...,299.99,299.99,Tangelo,6000196067843,Bijoux et montres|Dames|Pendentifs et colliers,True
23,2019-01-11 12:49:01 +0000,Collier dansant Pure à opale synthétique en fo...,"Libérées de leurs contraintes, les pierres pr...",79.00,79.00,Pure EcoJewellery,6000195536797,Bijoux et montres|Dames|Pendentifs et colliers,True
24,2019-01-11 14:03:05 +0000,1 1/2ct Treated Black Diamond Channel Set Eter...,. | Couleur Black Matériau 14k White Gold Mét...,659.75,659.75,Pompeii3,6G4NGOYK9H52,Bijoux et montres|Dames|Bagues,True
25,2019-01-11 14:03:05 +0000,1 1/2ct Treated Black Diamond Channel Set Eter...,. | Couleur Black Matériau 14k White Gold Mét...,659.75,659.75,Pompeii3,1CWK9OH26S9L,Bijoux et montres|Dames|Bagues,True
26,2019-01-11 14:03:05 +0000,1 1/2ct Treated Black Diamond Channel Set Eter...,. | Couleur Black Matériau 14k White Gold Mét...,659.75,659.75,Pompeii3,4474Y79JB00L,Bijoux et montres|Dames|Bagues,True
27,2019-01-11 14:03:05 +0000,1 1/2ct Treated Black Diamond Channel Set Eter...,. | Couleur Black Matériau 14k White Gold Mét...,659.75,659.75,Pompeii3,5OLNC6V2AEW9,Bijoux et montres|Dames|Bagues,True
28,2019-01-11 14:03:05 +0000,1 1/2ct Treated Black Diamond Channel Set Eter...,. | Couleur Black Matériau 14k White Gold Mét...,659.75,659.75,Pompeii3,6NC0SSTE7D6U,Bijoux et montres|Dames|Bagues,True
29,2019-01-11 14:03:05 +0000,1 1/2ct Treated Black Diamond Channel Set Eter...,. | Couleur Black Matériau 14k White Gold Mét...,659.75,659.75,Pompeii3,2MJKDGR9MZNF,Bijoux et montres|Dames|Bagues,True

In [158]:
#CLEANED FOR ANALYSIS ONLY
# Now the Data is good for Analysis BUT still more work for ML since the Data should be compartible with ML Rules
# -----Good Job------------

In [162]:
#You can explort the Data if you wish to use Third party Analysis tool Like --Tableau
#                                                                           --Power Bi
# But If you wish to Use python for Analysis and Visualisation Use the below Data Frame
#                                                                                      -----product_details

#to Export new Data Frame to CSV use below ---product_details(Dataset)

# check output file in the same folder : CSV name is ---Final_walmart_ca-ecommerce_product_details.csv
product_details_Final= product_details.to_csv('Final_walmart_ca-ecommerce_product_details.csv',index=None)
product_details_Final